<app-user-options></app-user-options>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="sidemenuOpen">
    <app-events
      (selectedOptionsChange)="updateSelectedEvents($event)"
    ></app-events>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      mat-icon-button
      (click)="sidemenuOpen = !sidemenuOpen"
      color="primary"
    >
      <mat-icon>{{ sidemenuOpen ? "close" : "menu" }}</mat-icon>
    </button>
    <app-runner-enquiry [events]="selectedEvents"></app-runner-enquiry>
    <app-runner-status></app-runner-status>
    <app-runner-info></app-runner-info>
  </mat-sidenav-content>
</mat-sidenav-container>
