<h2 mat-dialog-title>Ρυθμίσεις</h2>
<mat-dialog-content>
  <form [formGroup]="settingsForm" class="settings-form">
    <div class="settings-section">
      <h3>Εκτυπώσεις</h3>
      <mat-form-field>
        <mat-label>Εκτυπωτής Αριθμού</mat-label>
        <mat-select formControlName="numberPrinter">
          <mat-option [value]="null">Επιλέξτε Εκτυπωτή</mat-option>
          @for (printer of printers | async; track printer) {
          <mat-option [value]="printer.name">{{
            printer.displayName
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ετικετογράφος</mat-label>
        <mat-select formControlName="ticketPrinter">
          <mat-option [value]="null">Επιλέξτε Ετικετογράφο</mat-option>
          @for (printer of printers | async; track printer) {
          <mat-option [value]="printer.name">{{
            printer.displayName
          }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="settings-section">
      <h3>Server</h3>
      <mat-form-field>
        <mat-label>Διεύθυνση</mat-label>
        <input
          matInput
          placeholder=""
          type="text"
          formControlName="apiAddress"
        />
        <mat-hint align="start"
          >π.χ. https://remoteliveprint1.segas.gr</mat-hint
        >
      </mat-form-field>
      <mat-form-field>
        <mat-label>Όνομα Εφαρμογής</mat-label>
        <input matInput type="text" formControlName="appName" />
        <mat-hint align="start">π.χ. live_print_server</mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close cdkFocusInitial>Κλείσιμο</button>
  <button
    mat-flat-button
    mat-dialog-close
    color="primary"
    (click)="saveSettings()"
    [disabled]="!settingsForm.valid"
  >
    Αποθήκευση
  </button>
</mat-dialog-actions>
