<div class="header-container">
  <h3>Αγώνες</h3>
  <button mat-icon-button (click)="refreshEvents()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>
<mat-list>
  @for (event of events; track event){
  <div class="event-item-container">
    @if (event.enabled) {
    <mat-icon color="primary">check</mat-icon>
    } @else {
    <mat-icon color="warn">close</mat-icon>
    }
    <mat-list-item class="event-title">{{ event.name }}</mat-list-item>
    <button
      mat-icon-button
      aria-label="Open event options"
      (click)="openEventOptionsDialog(event)"
    >
      <mat-icon>open_in_new</mat-icon>
    </button>
  </div>
  }
</mat-list>
