<h2 mat-dialog-title>Δήλωση Άδειας</h2>
<mat-dialog-content>
  @if (!isVerified) {
  <form [formGroup]="licenseForm" (ngSubmit)="registerLicense()">
    <div class="register-license-section">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>License Key</mat-label>
        <input
          matInput
          formControlName="licenseKey"
          required
          placeholder="XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX"
        />
        @if (licenseForm.get('licenseKey')?.invalid &&
        licenseForm.get('licenseKey')?.touched) {
        <mat-error>License key is required</mat-error>
        }
      </mat-form-field>

      <div class="file-input-wrapper">
        <input
          #fileInput
          type="file"
          accept=".lic"
          (change)="onFileChange($event)"
          style="display: none"
        />
        <button
          type="button"
          mat-button
          (click)="fileInput.click()"
          color="primary"
        >
          Select License File
        </button>
        @if (selectedFile) {
        <span class="file-name">{{ selectedFile.name }}</span>
        }
      </div>

      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="licenseForm.invalid"
      >
        Register License
      </button>
    </div>
  </form>
  } @if(isVerified) {
  <div class="license-section">
    <h2>Επιτυχής Εγγραφή Άδειας</h2>
    <p>Η άδεια χρήσης έχει εγγραφεί με επιτυχία.</p>
    <p>Όνομα Χρήστη: {{ licenseUser }}</p>
    <p>
      Ημερομηνία Λήξης:
      {{ licenseExpiryDate | date : "hh:mma dd/MM/yyyy" | lowercase }}
    </p>
    <button
      type="button"
      mat-raised-button
      color="primary"
      (click)="unregisterLicense()"
    >
      Απεγγραφή
    </button>
  </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close cdkFocusInitial>
    Κλείσιμο
  </button></mat-dialog-actions
>
