.event-settings-form {
  display: flex;
  flex-direction: column;
  gap: var(--app-gap-md);
}

.event-settings-form section {
  display: flex;
  flex-direction: column;
}

.event-settings-form mat-form-field {
  width: 100%;
}
